body {
  margin: 0;
  font-family: segoe print;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  /*width: 768px;*/ 
    text-align: center;
}

header {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  border:  2px double gray;
  /*width: 764px; */
}


.one {
  display: flex;
  align-items: center;
  text-align: center;

}

.one div{
  border:  2px double gray;
  padding: 30px;
  
  text-align: center;
}

.main {
  display: flex;
  align-items: center;

  /* justify-content:center ; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  border:  2px double gray;
  width: 768px;
  text-align: center;
}

.left {
    float: left;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    vertical-align: middle;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.links a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
footer{
    background-color: rgb(0, 194, 0);
    /* margin: 0px;  */
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 150px;
    /* установка флекс */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap;  */
    flex-direction: column; 
}
/*
.text1{
    color: blue;
    font-size: 20pt;
    font-family: cursive;
}

.text2{
    color: red;
    font-size: 16pt;
    font-family: Arial, sans-serif;
}

.text3{
    color: green;
    font-size: 22pt;
    font-family: Courier New;
}
*/
h1, h2, h4{
    text-align: center;
    margin-bottom: 50px;
}

.center{
  text-align: center;
}


.foto{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap; 
}

.foto div{
    background-color: rgb(245, 245, 245);
    width: 155px;
    height: 220px;
    padding: 10px;
    border-radius: 15px;
    
}

/* .foto>div>img{ 
    border-radius: 5px;
}*/

.foto>div>p{
    /* color: blue; */
    font-size: 16pt;
    /* font-family: cursive; */
    text-align: center;
}
